@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@using Microsoft.Extensions.Options
@using CanvasAccountRegistration.Logic.Settings
@inject LocService SharedLocalizer
@inject IOptions<ApplicationSettings> applicationSettingsOptions
@model CanvasAccountRegistration.Web.ViewModel.AccountViewModel

@{
    ViewData["Title"] = $"{SharedLocalizer.GetLocalizedHtmlString("Edit")} {SharedLocalizer.GetLocalizedHtmlString("Account")}";
}

<h1>@($"{SharedLocalizer.GetLocalizedHtmlString("Edit")} {@SharedLocalizer.GetLocalizedHtmlString("Account")}")</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form method="post"  enctype="multipart/form-data" asp-controller="Account" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="login_attribute" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("login_attribute")</label>
                <input asp-for="login_attribute" value="@Model.login_attribute" />
                <span asp-validation-for="login_attribute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="given_name" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("given_name")</label>
                <input asp-for="given_name" value="@Model.given_name" />
                <span asp-validation-for="given_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="surname" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("surname")</label>
                <input asp-for="surname" value="@Model.surname" />
                <span asp-validation-for="surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="display_name" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("display_name")</label>
                <input asp-for="display_name" value="@Model.display_name" />
                <span asp-validation-for="display_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("email")</label>
                <input asp-for="email" value="@Model.email" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="assurance_level" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("assurance_level")</label>
                <input asp-for="assurance_level" value="@Model.assurance_level" />
                <span asp-validation-for="assurance_level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mail_verified" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("mail_verified")</label>
                <input asp-for="mail_verified" value="@Model.mail_verified" />
                <span asp-validation-for="mail_verified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="create_date_time" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("create_date_time")</label>
                <input asp-for="create_date_time" value="@Model.create_date_time" />
                <span asp-validation-for="create_date_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="verification_date_time" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("verification_date_time")</label>
                <input asp-for="verification_date_time" value="@Model.verification_date_time" />
                <span asp-validation-for="verification_date_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="integration_date_time" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("integration_date_time")</label>
                <input asp-for="integration_date_time" value="@Model.integration_date_time" />
                <span asp-validation-for="integration_date_time" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer.GetLocalizedHtmlString("Edit")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-controller="Account" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
