@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@using Microsoft.Extensions.Options
@inject LocService SharedLocalizer
@model CanvasAccountRegistration.Web.ViewModel.AccountLogViewModel

@{
    ViewData["Title"] = $"{SharedLocalizer.GetLocalizedHtmlString("Create")} {SharedLocalizer.GetLocalizedHtmlString("AccountLog")}";
}

<h1>@($"{SharedLocalizer.GetLocalizedHtmlString("Create")} {@SharedLocalizer.GetLocalizedHtmlString("AccountLog")}")</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form method="post"  enctype="multipart/form-data" asp-controller="AccountLog" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="displayName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("displayName")</label>
                <input name="displayName" asp-for="displayName" class="form-control" />
                <span asp-validation-for="displayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="givenName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("givenName")</label>
                <input name="givenName" asp-for="givenName" class="form-control" />
                <span asp-validation-for="givenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sn" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("sn")</label>
                <input name="sn" asp-for="sn" class="form-control" />
                <span asp-validation-for="sn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eduPersonPrincipalName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("eduPersonPrincipalName")</label>
                <input name="eduPersonPrincipalName" asp-for="eduPersonPrincipalName" class="form-control" />
                <span asp-validation-for="eduPersonPrincipalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("mail")</label>
                <input name="mail" asp-for="mail" class="form-control" />
                <span asp-validation-for="mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eduPersonAssurance" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("eduPersonAssurance")</label>
                <input name="eduPersonAssurance" asp-for="eduPersonAssurance" class="form-control" />
                <span asp-validation-for="eduPersonAssurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("CreatedOn")</label>
                <input name="CreatedOn" asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer.GetLocalizedHtmlString("Create")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="AccountLog" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
